<template name="index">

    <style>
        body {
            margin: 0;
            padding: 0;
            word-break: keep-all;
            background-image: url('/new_airplain.jpg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-attachment: fixed;
        }
        td {
            padding: 3px;
        }
    </style>

    <div class="navbar-fixed" id="globalNav">
        <nav style="background-color:transparent;box-shadow:none;">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo" style="position:relative; display:inline; left:15px;">スカイなんちゃら</a>
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="dropdown1" class="dropdown-content">
                  <li><a href="#!">one</a></li>
                  <li><a href="#!">two</a></li>
                  <li class="divider"></li>
                  <li><a href="#!">three</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>{{> loginButtons}}</li>
                    <li><a href="./my_page">My&ensp;ページ</a></li>
                </ul>
                <ul class="side-nav" id="mobile-menu">
                    <li><a href="sass.html">My&ensp;ページ</a></li>
                    <li><a href="badges.html">ログアウト</a></li>
                    <li><a href="collapsible.html">ログイン</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" id="main">
        <div class="row">
            <div class="col s12">
                <div class="white-text center-align">
                    <h1>最安値を<wbr>わかりやすく</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="center-align">
                        <a class="waves-effect waves-light btn indigo darken-4" href="#find" data-type="anchor">使ってみる</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color:white;height:100%;" id="usage">
        <div class="container">
            <div class="right-align">
                <a style="top:-27.5px;" class="btn-floating btn-large waves-effect waves-light pink" href="#usage" data-type="anchor"><i class="material-icons dp48">keyboard_arrow_down</i></a>
            </div>
            <div class="row">
                <div class="col s12">
                    <h3>お得な旅を&nbsp;<wbr/>もっとお得に</h3>
                </div>
            </div>
            <div class="row">
                <img src="/guide.png" style="width:100%;"/>
            </div>
        </div>
    </div>

    <div style="background-color:white;height:192px;background-image: url('/new_airplain2.jpg');background-repeat: no-repeat;background-position: 50% 50%;background-attachment: fixed;"></div>

    <div class="grey lighten-5" style="background-color:white;height:100%;" id="find">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>チケットを探す</h3>
                </div>
            </div>

            <input type="hidden" id="lowerPrice">
            <div class="row">
                <form class="form-horizontal index_form">
                    <div class="col s12 m5">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="arraivalDate" type="text" class="validate">
                                        <label for="arraivalDate">出発日</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="leaved_port" class="browser-default">
                                            <option value="" disabled selected>［発］空港</option>
                                            {{#each air_lines}}
                                                <optgroup label="{{region_name}}">
                                                    {{#each regions}}
                                                        <option value="{{code}}">{{airport.airport_name}}</option>
                                                    {{/each}}
                                                </optgroup>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <select id="arrival_port" class="browser-default">
                                            <option value="" disabled selected>［着］空港</option>
                                            {{#each air_lines}}
                                                <optgroup label="{{region_name}}">
                                                    {{#each regions}}
                                                        <option value="{{code}}">{{airport.airport_name}}</option>
                                                    {{/each}}
                                                </optgroup>
                                            {{/each}}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action grey lighten-2 right-align">
                                <button type="submit" id="search" class="waves-effect waves-light btn indigo darken-4">検索</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="col s12 m7">
                    {{> flight_query_result}}
                </div>
            </div>
        </div>
    </div>




    <script type="text/javascript">
$(function(){
    $('.button-collapse').sideNav();

    $('a[href^=#][data-type=anchor]').click(function(){
        var speed = 400;
        var href= $(this).attr("href");
        var target = $(href == "#" || href == "" ? 'html' : href);
        var position = target.offset().top;
        $("html, body").animate({scrollTop:position}, speed, "swing");
        return false;
    });

    var windowHeight = $(window).height();
    var mainMargin = ((windowHeight - $('#globalNav').height() - $('#main').height()) / 2) - 50;

    $('#main').css('margin-top', mainMargin + 'px');
    $('#main').css('margin-bottom', mainMargin + 'px');
    $('#usage').css('min-height', windowHeight + 'px');
    $('#find').css('padding-top', '56px');
    $('#find').css('min-height', (windowHeight - 1) + 'px');
});

$(window).scroll(function() {
    var scrollPos = $("body").scrollTop();
    var guidePos = $('#main').height() + ($('#main').css('margin-top').replace('px','') * 2);

    if (scrollPos <= (guidePos - 2)) {
        if ($('#globalNav .nav-wrapper').hasClass('indigo')) {
            $('#globalNav .nav-wrapper').removeClass('indigo');
            $('#globalNav .nav-wrapper').removeClass('darken-4');
        };
    } else {
        if (!$('#globalNav .nav-wrapper').hasClass('indigo')) {
            $('#globalNav .nav-wrapper').addClass('indigo');
            $('#globalNav .nav-wrapper').addClass('darken-4');
        };
    };
});
    </script>

</template>
