<template name="my_page">
    <h3>あなたの今監視している情報です</h3>
    {{#each user_notice}}
    <div class="clearfix shadow-z-1 activity-container">
        <dl class ="activity-section"><dt><span class="depature-day">出発日:</span>{{leavedAt}}</dt>
            <dd><span>出発地:</span>{{leavedPortName}}</dd>
            <dd><span>到着地:</span>{{arrivalPortName}}</dd>
            <dd><span>登録した金額:</span>{{noticeAmount}}円</dd>
        </dl>
        <dl class="activity"><dt>アクティビティ</dt>
            <dd>
                <div><ul>
                        {{#each prices}}
                        <li><a>{{airlineCompanyName}}の{{formatDateTime leavedAt}}分初の飛行機が{{amount}}円になりました</a></li>
                        {{/each}}
                    </ul>
                </div>
            </dd>
        </dl>    </div>
    {{/each}}
</template>